<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
    <form action="/froyo">
        <fieldset>
            <legend>Form 1</legend>
            Choose a froyo flavor
            <input type="text" name="flavor">
            <input type="text" name="toppings">
            <input type="submit" name ="Submit">
        </fieldset>
    </form>

    <form action="/calculator">
        <fieldset>
            <legend>Form 2</legend>
        </fieldset>
    </form>
  
</body>
</html>


